/* Reset*/  

/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

/*html {
    font-family: "Nunito", sans-serif;
}*/

/* Estilos generales y de la barra de navegación */

/*body {
    overflow-x: hidden;
    }


header, footer {
        width: 100%;
    }    

header .bg-nav {
    background-color: #2e7d4f;
}

header .menu {
    flex-grow: 0;
}

header div .menu ul .menu-ul{
    column-gap: 10px;
    align-items: center;
}

header div .menu ul li a{
    color: #133923;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
}

header div .menu ul li a:hover{
    color: #0f2217;
    text-decoration: underline;
}

header div button .menu-boton{
    border: none;
}

header div button .menu-boton:focus{
    box-shadow: none;
}

/*header .menu-icon {
    background-image: url(../img/burger-menu.svg);
}

header .padding-0{
    padding: 0;
}*/

/*main {
    background-color: #99b6a5
}*/

/* Estilos de la sección de Main index */

/*.portada {
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/arenga-equipo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}*/

/*.bckg-h1 {
    background-color: #92c2a6;
    font-weight: 500;
    
}*/

/*.bckg-card {
    background-color: #4e8565;
}*/

/*hr {
    color: rgb(100, 100, 100);
    border: solid 2px;
    padding: 0;
    margin: 0;
}*/

/* Footer 
.sede-social {
    justify-content: center;
    align-items: center;
    width: 190px;
    border: 1px solid;
}*/

/* Estilos de la sección Main institucional */

/*.titulo-institucional {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #799e88;
    text-align: center;
    font-size:3rem;
    color: #0f2217;
    margin: 2px;
    padding: 2px;
    
}

.perfiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.hijo {
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.hijo img {
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.hijo p{
    font-weight:700;
    color: #0f2217;
    text-align: center;
}*/


/* Estilos de la sección Socios */

/*.bienvenida p {
    font-weight:600;
    font-size: 20px;
    color: rgb(8, 53, 2);
    text-align:center;
    line-height: 25px;
}*/

/* Estilos para Inputs */

/*.inputs-style {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.label-style {
    margin-top: 10px;
}*/

/* Estilos para el botón de Enviar 
input[type="submit"] {
    display: flex;
    align-items: center;
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}*/

/* Estilos para el botón cuando el cursor está encima 
input[type="submit"]:hover {
    background-color: darkgreen;
}*/

/* Estilos para el botón cuando está activo 
input[type="submit"]:active {
    background-color: lightgreen;
}*/

/*.asociate h1{
    font-weight: bolder;
    font-size: 40px;
    color: rgb(8, 53, 2);
    text-align: left;
}
.asociate p {
    font-weight:700;
    font-size: 25px;
    color: rgba(8, 53, 2, 0.959);
}*/

/* Estilos de la sección CONTACTO */

/*.datos-club {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    margin-top: 2px;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.grid-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px solid  #0e1c14f8;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.15);
    overflow: hidden;   
}

.grid-item h1 {
    font-weight: 900;
    font-size: 50px;
    color: rgb(2, 53, 2);
    text-align: center;
    text-decoration: underline;
}

.grid-item p {
    text-align: center;
    font-weight:700;
    color: #0f2217;
}*/

/* Estilos de la sección DEPORTES */

/*.disciplinas  h1 {
    font-weight: 900;
    font-size: 50px;
    color: rgb(2, 53, 2);
    text-align: center;
    text-decoration: underline;  
}*/

/*.b-deportes {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6f7d6c;
    --bs-btn-border-color: #6f7d6c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c6a5c;
    --bs-btn-hover-border-color: #5c6456;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5c6456;
    --bs-btn-active-border-color: #575e51;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6f7d6c;
    --bs-btn-disabled-border-color: #6f7d6c;
} 


.slide {
    width: 50vw;
}

.d-item {
    height: 50vh;
}
.d-img {
    width: 50vw;
    height: 100%;
    object-fit: cover;
    filter:brightness(0.6)
}*/


/* Media query Tablet (entre 768px - 1024px)*/

/*@media screen and (max-width: 1024px) {
    .navbar-brand img {
        width: 200px;
        height: auto;
    }
    .nav.link {
        font-size: 20px;
    }
    /*.hero {
        height: 70vh;
    }
    .titulo-institucional {
        font-size: 2rem;
    }
    .perfiles, .datos-club {
        grid-template-columns: repeat(1, 1fr);
    }
}



/* Media query Mobile (entre 320px - 768px)

@media screen and (max-width: 768px){
    .navbar-brand img {
        width: 150px;
        height: auto;
    }
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
    .nav-link {
        font-size: 18px;
    }
    .titulo-institucional {
        font-size: 1rem;
    }
    
    /*.hero {
        height: 30vh;
    }
    .label-style {
        margin-top: 5px;
    }
}*/