/* Main contacto */

.main-contacto{
    .datos-club{
        @include grid(repeat(2, 1fr), repeat(2, auto), 5px, center, hidden);
        margin-top: 2px;
        justify-items: center;
        
        .grid-item{
            width: 100%;
            @include flex(column, center, center);
            @extend %estilo-item;
            overflow: hidden;
            h1{
                @extend %estilos;
                font-weight: 900;
                font-size: 50px;
                color: $color-h1;
                text-decoration: $tdecoration-predeterminada;
            }
            p{
                @extend %estilos;
                color: $color-p;
            }  
        }
    }
}