/* Main Institucional */

.main-institucional {
    .titulo-institucional{
        @include flex(row, center, center);
        background-color: #799e88;
        text-align: center;
        font-size:3rem;
        color: $color-h1;
        margin: 2px;
        @extend %estilo-item;
    }
    .perfiles{
        @include grid(repeat(2, 1fr), repeat(2, auto), 5px, center, hidden);
        justify-items: center;
        .hijo{
            width: 80%;
            flex: 1;
            @include flex(column, center, center);
            img {
                height: 300px;
                object-fit: cover;
                border-radius: 10px 10px 0 0;
                &:hover {
                    transform: scale(1.1);
                    transition: 0.5s ease-in;
                }
            }
            p {
                @extend %estilos;
                color: $color-p;
            } 
        }
    }
}