@mixin flex($flex-direction, $align-items, $justify-content){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin grid($grid-template-columns, $grid-template-rows, $gap, $align-items, $overflow){
    display: grid;
    grid-template-columns: $grid-template-columns;
    grid-template-rows: $grid-template-rows;
    gap: $gap;
    align-items: $align-items;
    overflow: $overflow;
} 